canvas {
  background-color: transparent;
  border: 2px solid #000000 ;
  border: double;
  position: absolute;
  left: 25%;
}

.mainMap {
  z-index: 0;
}

.centeralsMap {
  z-index: 1;
}

.safeZoneMap {
  z-index: 0;
}

#canvasHolder {
  position: relative;
}
