<!DOCTYPE>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="canvas.css">
    <script src="canvas.js">  </script>
    <script src="mappingFunctions.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
    <title> Team E.B. totally awesome mapping page </title>
  </head>

  <body>
    <div class="canvasHolder">
      <canvas id="mainMap" width="640" height="640">  </canvas>

      <canvas id="centeralsMap" width="640" height="640">  </canvas>

    </div>


    <script>
      //Necessary initializing steps
      var mapCoordinates = [ //Polygon coordinates
        [10, 40],
        [100, 40],
        [350, 250],
        [550, 364],
        [420, 420],
        [222, 345]
      ];

      var centeralsCoordinates = [ //Centeral devices coordinates
        [75, 75],
        [250, 250],
        [400, 300]
      ];

      //Draws the polygon
      var temp = new Canvas(document.getElementById("mainMap"));
      temp.drawMap(mapCoordinates);

      //Draw the centerals in red
      temp = new Canvas(document.getElementById("centeralsMap"));
      temp.setColor("#FF0000");
      temp.addMarkerList(centeralsCoordinates);
    </script>


    <script>
      // Array of mocked JSON
      var JSONs = [
      '{ "peripherals":[' +
      '{ "personName":"Moiz Qureshi", "x_coord":15, "y_coord":32 },' +
      '{ "personName":"Ye Huange", "x_coord":50, "y_coord": 24 },' +
      '{ "personName":"Ben Chafik", "x_coord":100, "y_coord": 100},' +
      '{ "personName":"Eduardo Rosales", "x_coord":200, "y_coord": 178}' +
      ']}',

      '{"peripherals":[' +
      '{ "personName":"Moiz Qureshi", "x_coord":20, "y_coord":32 },' +
      '{ "personName":"Ye Huange", "x_coord":55, "y_coord": 30 },' +
      '{ "personName":"Ben Chafik", "x_coord":125, "y_coord": 110 },' +
      '{ "personName":"Eduardo Rosales", "x_coord":205, "y_coord": 180 }' +
      ']}',

      '{"peripherals":[' +
      '{ "personName":"Moiz Qureshi", "x_coord":25, "y_coord":35 },' +
      '{ "personName":"Ye Huange", "x_coord":55, "y_coord": 30 },' +
      '{ "personName":"Ben Chafik", "x_coord":128, "y_coord": 111 },' +
      '{ "personName":"Eduardo Rosales", "x_coord":215, "y_coord": 190 }' +
      ']}',

      '{"peripherals":[' +
      '{ "personName":"Moiz Qureshi", "x_coord":30, "y_coord":38 },' +
      '{ "personName":"Ye Huange", "x_coord":56, "y_coord": 32 },' +
      '{ "personName":"Ben Chafik", "x_coord":130, "y_coord": 115 },' +
      '{ "personName":"Eduardo Rosales", "x_coord":230, "y_coord": 210 }' +
      ']}',
    ];

    /*
     * Whatever is in this function is what needs to go in socket.on function
     * This function takes on one single JSON not an array os JSONs.
     * EzPz.
     */
    function socketio(single_json) {
      //Parse the JSON object
      var parsed_json = JSON.parse(single_json);

      //Go through each peripheral within the JSON
      for( i = 0; i < parsed_json.peripherals.length; i++) {
        //check if the peripheral is new
        if(isPeriNew(parsed_json.peripherals[i].personName)) {
          //if it is, add a new canvas tag for it and save the name id of that.
          var canvas_name = canvasAdder(parsed_json.peripherals[i].personName);
          //then add the canvas JS and draw a point at x and y
          addPeri(parsed_json.peripherals[i].personName, canvas_name, parsed_json.peripherals[i].x_coord, parsed_json.peripherals[i].y_coord);
        }

        else //if the peripheral is not new then update it no matter what.
          updatePeri(parsed_json.peripherals[i].personName, parsed_json.peripherals[i].x_coord, parsed_json.peripherals[i].y_coord);
      } //updating no matter what saves us time by not iterating through a list to check who has moved or not and isntead just do a O(n) and update everyone.
    }

    /*
     * This function uses jQuerry and adds a new canvas tag inside the canvasHolder div.
     * The problem is with z-axis, if we implement deleting peripherals, I would need to
     * change the z-axis somehow. Without deleting, this should work just fine.
     */
    function canvasAdder(personName) {
      //construct the id of the canvas, it's always: "peri" + the name of the person without space
      var canvas_name = "peri" + ((personName).replace(/\s/g, '')); //for exampe if peripheral name is "Ben Chafik" then the id of the new canvas tag is: "periBenChafik"

      //getting zaxis by counting how many canvas tags we have so far so we know where to stack this new tag
      var zaxis = document.getElementsByTagName("canvas").length;

      //Finishing and adding the entire tag together with options etc.
      var canv = "<canvas id=" + canvas_name + " width=\"640\" height=\"640\" style=\"z-index: " + zaxis+ "\">  </canvas>";

      //Using jQuerry to add this new tag.
      $(".canvasHolder").append(canv);

      //return the id of the new tag
      return canvas_name;
    }


    //All this below was just used to stimulate and test the functions above, you can delete.
    var counter = 0;

    function runner() {
      console.log(counter);
      //gives a JSON to socketio function.
      socketio(JSONs[counter]);
      counter = (counter + 1) % 4;
    }

    //Run "runner()" every 2seconds.
    setInterval(function(){runner();}, 2000);
    </script>

  </body>
</html>
