<!DOCTYPE>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="canvas.css">
    <script src="canvas.js">  </script>
    <script src="mappingFunctions.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
    <title> Team E.B. totally awesome mapping page </title>
  </head>

  <body>
    <div class="canvasHolder">
      <canvas id="mainMap" width="640" height="640">  </canvas>

      <canvas id="safeZoneMap" width="640" height="640">  </canvas>

      <canvas id="centeralsMap" width="640" height="640">  </canvas>
    </div>



    <script>
      //Necessary initializing steps
      var mapCoordinates = [ //Polygon coordinates
        [100, 40],
        [500, 40],
        [600, 440],
        [15, 440]
      ];

      var centeralsCoordinates = [ //Centeral devices coordinates
        [125, 65],
        [475, 65],
        [125, 415],
        [475, 415]
      ];

      var safeZoneCoordinates = [
        [100, 325],
        [200, 325],
        [200, 440],
        [100, 440]
      ];

      var centeralsNames = ["Observer A", "Observer B", "Observer C", "Observer D"];

      //Draws the polygon
      var temp = new Canvas(document.getElementById("mainMap"));
      temp.drawMap(mapCoordinates);

      //Draw safezone
      temp = new  Canvas(document.getElementById("safeZoneMap"));
      temp.setColor("#adff2f");
      temp.drawTriangle(99, 325, 101, 116);

      //Draw the centerals in red
      temp = new Canvas(document.getElementById("centeralsMap"));
      temp.setColor("#FF0000");
      temp.addMarkerList(centeralsCoordinates, centeralsNames);

    </script>


    <script>
      // Array of mocked JSON
      var JSONs = [
      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":229, "y_coord": 236 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":199, "y_coord": 247 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":178, "y_coord": 273 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":199, "y_coord": 247 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":229, "y_coord": 236 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":265, "y_coord": 210 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":299, "y_coord": 189 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":344, "y_coord": 157 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":373, "y_coord": 130 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":402, "y_coord": 115 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":373, "y_coord": 130 },' +
      '{ "personName":"Ben Chafik", "x_coord":395, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":344, "y_coord": 157 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":299, "y_coord": 189 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":265, "y_coord": 210 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":199, "y_coord": 247 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":178, "y_coord": 273 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":199, "y_coord": 247 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":229, "y_coord": 236 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":265, "y_coord": 210 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":299, "y_coord": 189 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":344, "y_coord": 157 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":373, "y_coord": 130 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":402, "y_coord": 115 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":373, "y_coord": 130 },' +
      '{ "personName":"Ben Chafik", "x_coord":395, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":344, "y_coord": 157 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":299, "y_coord": 189 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":265, "y_coord": 210 },' +
      '{ "personName":"Ben Chafik", "x_coord":402, "y_coord": 110},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',
      //explostion here?

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":265, "y_coord": 210 },' +
      '{ "personName":"Ben Chafik", "x_coord":400, "y_coord": 115},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":265, "y_coord": 210 },' +
      '{ "personName":"Ben Chafik", "x_coord":400, "y_coord": 115},' +
      '{ "personName":"Eduardo Rosales", "x_coord":178, "y_coord": 268}' +
      ']}',

      //run bruh

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":240, "y_coord": 235 },' +
      '{ "personName":"Ben Chafik", "x_coord":400, "y_coord": 115},' +
      '{ "personName":"Eduardo Rosales", "x_coord":168, "y_coord": 285}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":223, "y_coord": 274 },' +
      '{ "personName":"Ben Chafik", "x_coord":400, "y_coord": 115},' +
      '{ "personName":"Eduardo Rosales", "x_coord":164, "y_coord": 311}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":211, "y_coord": 299 },' +
      '{ "personName":"Ben Chafik", "x_coord":400, "y_coord": 115},' +
      '{ "personName":"Eduardo Rosales", "x_coord":155, "y_coord": 339}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":187, "y_coord": 326 },' +
      '{ "personName":"Ben Chafik", "x_coord":400, "y_coord": 115},' +
      '{ "personName":"Eduardo Rosales", "x_coord":129, "y_coord": 367}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":174, "y_coord": 360 },' +
      '{ "personName":"Ben Chafik", "x_coord":400, "y_coord": 115},' +
      '{ "personName":"Eduardo Rosales", "x_coord":129, "y_coord": 367}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":164, "y_coord": 378 },' +
      '{ "personName":"Ben Chafik", "x_coord":400, "y_coord": 115},' +
      '{ "personName":"Eduardo Rosales", "x_coord":129, "y_coord": 367}' +
      ']}',

      //heading back to get ben

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":194, "y_coord": 346 },' +
      '{ "personName":"Ben Chafik", "x_coord":400, "y_coord": 115},' +
      '{ "personName":"Eduardo Rosales", "x_coord":174, "y_coord": 350}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":211, "y_coord": 317 },' +
      '{ "personName":"Ben Chafik", "x_coord":400, "y_coord": 115},' +
      '{ "personName":"Eduardo Rosales", "x_coord":195, "y_coord": 324}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":244, "y_coord": 292 },' +
      '{ "personName":"Ben Chafik", "x_coord":400, "y_coord": 115},' +
      '{ "personName":"Eduardo Rosales", "x_coord":233, "y_coord": 296}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":288, "y_coord": 257 },' +
      '{ "personName":"Ben Chafik", "x_coord":400, "y_coord": 115},' +
      '{ "personName":"Eduardo Rosales", "x_coord":275, "y_coord": 261}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":328, "y_coord": 220 },' +
      '{ "personName":"Ben Chafik", "x_coord":400, "y_coord": 115},' +
      '{ "personName":"Eduardo Rosales", "x_coord":316, "y_coord": 227}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":370, "y_coord": 173 },' +
      '{ "personName":"Ben Chafik", "x_coord":400, "y_coord": 115},' +
      '{ "personName":"Eduardo Rosales", "x_coord":357, "y_coord": 177}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":402, "y_coord": 144 },' +
      '{ "personName":"Ben Chafik", "x_coord":400, "y_coord": 115},' +
      '{ "personName":"Eduardo Rosales", "x_coord":392, "y_coord": 148}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":405, "y_coord": 120 },' +
      '{ "personName":"Ben Chafik", "x_coord":400, "y_coord": 115},' +
      '{ "personName":"Eduardo Rosales", "x_coord":395, "y_coord": 122}' +
      ']}',
      //dragin fatso

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":376, "y_coord": 163},' +
      '{ "personName":"Ben Chafik", "x_coord":376, "y_coord": 158},' +
      '{ "personName":"Eduardo Rosales", "x_coord":371, "y_coord": 158}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":347, "y_coord": 181 },' +
      '{ "personName":"Ben Chafik", "x_coord":347, "y_coord": 176},' +
      '{ "personName":"Eduardo Rosales", "x_coord":342, "y_coord": 176}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":324, "y_coord": 204 },' +
      '{ "personName":"Ben Chafik", "x_coord":324, "y_coord": 199},' +
      '{ "personName":"Eduardo Rosales", "x_coord":319, "y_coord": 199}' +
      ']}',

      '{ "peripherals":[' +
      '{ "personName":"Ye Huange", "x_coord":310, "y_coord": 228 },' +
      '{ "personName":"Ben Chafik", "x_coord":310, "y_coord": 223},' +
      '{ "personName":"Eduardo Rosales", "x_coord":305, "y_coord": 223}' +
      ']}'
    ];

    /*
     * Whatever is in this function is what needs to go in socket.on function
     * This function takes on one single JSON not an array os JSONs.
     * EzPz.
     */
    function socketio(single_json) {
      //Parse the JSON object
      var parsed_json = JSON.parse(single_json);

      //Go through each peripheral within the JSON
      for( i = 0; i < parsed_json.peripherals.length; i++) {
        //check if the peripheral is new
        if(isPeriNew(parsed_json.peripherals[i].personName)) {
          //if it is, add a new canvas tag for it and save the name id of that.
          var canvas_name = canvasAdder(parsed_json.peripherals[i].personName);
          //then add the canvas JS and draw a point at x and y
          addPeri(parsed_json.peripherals[i].personName, canvas_name, parsed_json.peripherals[i].x_coord, parsed_json.peripherals[i].y_coord);
        }

        else //if the peripheral is not new then update it no matter what.
          updatePeri(parsed_json.peripherals[i].personName, parsed_json.peripherals[i].x_coord, parsed_json.peripherals[i].y_coord);
      } //updating no matter what saves us time by not iterating through a list to check who has moved or not and isntead just do a O(n) and update everyone.
    }

    /*
     * This function uses jQuerry and adds a new canvas tag inside the canvasHolder div.
     * The problem is with z-axis, if we implement deleting peripherals, I would need to
     * change the z-axis somehow. Without deleting, this should work just fine.
     */
    function canvasAdder(personName) {
      //construct the id of the canvas, it's always: "peri" + the name of the person without space
      var canvas_name = "peri" + ((personName).replace(/\s/g, '')); //for exampe if peripheral name is "Ben Chafik" then the id of the new canvas tag is: "periBenChafik"

      //getting zaxis by counting how many canvas tags we have so far so we know where to stack this new tag
      var zaxis = document.getElementsByTagName("canvas").length;

      //Finishing and adding the entire tag together with options etc.
      var canv = "<canvas id=" + canvas_name + " width=\"640\" height=\"640\" style=\"z-index: " + zaxis+ "\">  </canvas>";

      //Using jQuerry to add this new tag.
      $(".canvasHolder").append(canv);

      //return the id of the new tag
      return canvas_name;
    }


    //All this below was just used to stimulate and test the functions above, you can delete.
    var counter = 0;

    function runner() {
      console.log(counter);
      //gives a JSON to socketio function.
      socketio(JSONs[counter]);
      counter = (counter + 1);

      if(counter == JSONs.length) clearInterval(tm);
    }

    //Run "runner()" every 2seconds.
    setInterval(function(){runner();}, 1750);
    </script>

  </body>
</html>
