<h2>BlueHat Advertisers</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <legend>HardHat Device Registration:</legend>
    </div>
    <!-- panel preview -->
    <div class="col-sm-4">
      <h4>Add HardHat Device:</h4>
      <div class="panel panel-default">
        <div class="panel-body form-horizontal">
          <div class="form-group">
            <label class="col-sm-5 control-label">HardHat ID</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="advertiserIdText" name="advertiserId">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 control-label">Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="advertiserNameText" name="advertiserName">
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-sm-5 control-label">Email</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="advertiserEmailText" name="advert">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
              <button id="addAdvertiserBtn" type="button" class="btn btn-default preview-add-button">
                <span class="glyphicon glyphicon-plus"></span> Add
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / panel preview -->
    <div class="col-sm-7">
      <h4>List of HardHat Devices:</h4>
      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table class="table preview-table">
              <thead>
                <tr>
                  <th>HardHat Device ID</th>
                  <th>Name</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody></tbody>
              <!-- preview content goes here-->
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
