{% extends "dashboard_layout.html" %}
{% block css %}
  {{ super() }}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/dashboard.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock css %}
{% block content %}
<nav id="menu">
  <header>
    <div class="headerImg">
      <img id="logo-img" class="animated flipInX"  src="{{ url_for('static', filename='imgs/fq_logo.png') }}">
    </div>
    <h2 class="menuTitle">Menu</h2>
    <ul class="menuList">
      <li><a class="menuItem" id="home">Home</a></li>
      <li><a class="menuItem" id="profile">Profile</a></li>
      <li><a class="menuItem" id="observers">Observers</a></li>
      <li><a class="menuItem" id="advertisers">Advertisers</a></li>
      <li><a class="menuItem" id="settings">Settings</a></li>
      {% if admin == 1 %}
      <li><a class="menuItem" id="analytics">Analytics</a></li>
      {% endif %}
      <li><a href="/logout" class="menuItem" id="logout">Logout</a></li>
    </ul>
  </header>
</nav>
<main class="panel" id="panel">
  <header>
    <div class="arrow right">
      <div class="line arrow_top"></div>
      <div class="line arrow_line"></div>
      <div class="line arrow_bottom"></div>
    </div>
  </header>
  <div class="panel_content" id="panel_content">
    <h2>BlueHat Dashboard</h2>
    <div class="canvas-container">
      <div class="canvasHolder">
        <canvas id="mainMap" width="640" height="640">  </canvas>
        <canvas id="centeralsMap" width="640" height="640">  </canvas>
      </div>
    </div>
  </div>
</main>
{% endblock  content%}

{% block js %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.fa.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="https://use.fontawesome.com/57bf013cf0.js"></script>
<script>
  $(document).ready(function() {
    var socket = io.connect('http://localhost:8000');
    // var socket = io.connect('https://bluehat.herokuapp.com');

    socket.on('connect', function(){
      console.log('Connected to BluHat Server');
    });

    $('#logout').on('click', function(){
      socket.disconnect();
      console.log("Disconnected from BlueHat Server");
    });

    socket.on('hardhat_position', function(data) {
      console.log("Received data from server: ", data);
      socketio(data);
    });

    $('#home').addClass('active');

    $("#home").click(function() {
      $('.active').removeClass('active');
      $('#home').addClass('active');
      $("#panel_content").load("/dashboard/home");
    });

    $("#profile").click(function() {
      $('.active').removeClass('active');
      $('#profile').addClass('active');
      $("#panel_content").load("/dashboard/profile");
    });

    $("#observers").click(function() {
      $('.active').removeClass('active');
      $('#observers').addClass('active');
      $("#panel_content").load("/dashboard/observers");
    });

    $("#advertisers").click(function() {
      $('.active').removeClass('active');
      $('#advertisers').addClass('active');
      $("#panel_content").load("/dashboard/advertisers");
    });

    $("#settings").click(function() {
      $('.active').removeClass('active');
      $('#settings').addClass('active');
      $("#panel_content").load("/dashboard/settings");
    });

    $("#analytics").click(function() {
      $('.active').removeClass('active');
      $('#analytics').addClass('active');
      $("#panel_content").load("/dashboard/analytics");
    });

    $(document.body).on('click', '#addObserverBtn', function() {
      var observerId = $('#observerIdText').val();
      var location = $('#observerLocationText').val();
      var xCoord = $('#observerX-CoordText').val();
      var yCoord = $('#observerY-CoordText').val();
      if (observerId && location && xCoord && yCoord) {
        data = {
          'observerId': observerId,
          'location': location,
          'xCoord': xCoord,
          'yCoord': yCoord
        }
        console.log(data);
        socket.emit('register_observer', data);
      }
    });

    $(document.body).on('click', '#addAdvertiserBtn', function() {
      var advertiserId = $('#advertiserIdText').val();
      var advertiserName = $('#advertiserNameText').val();
      var advertiserEmail = $('#advertiserEmailText').val();
      data = {
        'advertiserId': advertiserId,
        'advertiserName': advertiserName,
        'advertiserEmail': advertiserEmail,
      }
      console.log(data);
      socket.emit('register_advertiser', data);
    });

    //Necessary initializing steps
    var mapCoordinates = [ //Polygon coordinates
      [10, 40],
      [100, 40],
      [350, 250],
      [550, 364],
      [420, 420],
      [222, 345]
    ];

    var centeralsCoordinates = [ //Centeral devices coordinates
      [75, 75],
      [250, 250],
      [400, 300]
    ];

    var centeralsName = [ "Cent_A", "Cent_B", "Cent_C" ];

    //Draws the polygon
    var temp = new Canvas(document.getElementById("mainMap"));
    temp.drawMap(mapCoordinates);

    //Draw the centerals in red
    temp = new Canvas(document.getElementById("centeralsMap"));
    temp.setColor("#FF0000");
    temp.addMarkerList(centeralsCoordinates, centeralsName);

  /*
   * Whatever is in this function is what needs to go in socket.on function
   * This function takes on one single JSON not an array os JSONs.
   * EzPz.
   */
   function socketio(data) {
     //Parse the JSON object
     var parsed_data = JSON.parse(data);

     //Go through each peripheral within the JSON
     for( i = 0; i < parsed_datalength; i++) {
       //check if the peripheral is new
       if(isPeriNew(parsed_data[i].deviceID)) {
         //if it is, add a new canvas tag for it and save the name id of that.
         var canvas_name = canvasAdder(parsed_data[i].deviceID);
         var periName = "Peripheral_" + i;
         //then add the canvas JS and draw a point at x and y
         addPeri(parsed_data[i].deviceID, periName, canvas_name, parsed_data[i].xCoord, parsed_data[i].yCoord);
       }

       else //if the peripheral is not new then update it no matter what.
         updatePeri(parsed_data[i].deviceID, parsed_data[i].xCoord, parsed_data[i].yCoord);
     } //updating no matter what saves us time by not iterating through a list to check who has moved or not and isntead just do a O(n) and update everyone.
   }

  /*
   * This function uses jQuerry and adds a new canvas tag inside the canvasHolder div.
   * The problem is with z-axis, if we implement deleting peripherals, I would need to
   * change the z-axis somehow. Without deleting, this should work just fine.
   */
  function canvasAdder(personName) {
    //construct the id of the canvas, it's always: "peri" + the name of the person without space
    var canvas_name = "peri" + ((personName).replace(/\s/g, '')); //for exampe if peripheral name is "Ben Chafik" then the id of the new canvas tag is: "periBenChafik"

    //getting zaxis by counting how many canvas tags we have so far so we know where to stack this new tag
    var zaxis = document.getElementsByTagName("canvas").length;

    //Finishing and adding the entire tag together with options etc.
    var canv = "<canvas id=" + canvas_name + " width=\"640\" height=\"640\" style=\"z-index: " + zaxis+ "\">  </canvas>";

    //Using jQuerry to add this new tag.
    $(".canvasHolder").append(canv);

    //return the id of the new tag
    return canvas_name;
  }


  //All this below was just used to stimulate and test the functions above, you can delete.
  /*var counter = 0;

  function runner() {
    console.log(counter);
    //gives a JSON to socketio function.
    socketio(JSONs[counter]);
    counter = (counter + 1) % 4;
  }

  //Run "runner()" every 2seconds.
  setInterval(function(){runner();}, 2000);*/

  //Custom Canvas Object to hold all we need and make it easy
  function Canvas(tag) {
    this.drawable = tag.getContext("2d"); //holds the canvas
    this.name = "Default Name";
    this.setName = setName;
    this.init = init;
    this.addMarkerXY = addMarkerXY;
    this.addMarkerInner = addMarkerInner;
    this.HardHatarkerXY = clearMarkerXY;
    this.clearMarker = clearMarker;
    this.drawMap = drawMap;
    this.addMarkerList = addMarkerList;
    this.addMarkerCoor = addMarkerCoor
    this.setColor = setColor;
    this.color = "#000000"; //holds the color to draw with
    this.x = 0; //holds the last X coordinate
    this.y = 0; //holds the last Y coordinate
  }

  function setName(name) {
    this.name = name;
  }


  /*
   * Takes in a list of coordinates like [[x1,y1], [x2,y2]]
   * and draw a polygon by iterating through the coordinates
   * drawing points and lines between the points
   */
   function drawMap(map) {
     this.drawable.strokeStyle = '#000000';
     for( i = 0; i < map.length; i++) {
       var x = map[i][0];
       var y = map[i][1];

       if( i > 0)
         this.drawable.lineTo(x, y)

       //this.addMarkerXY(x, y);
       this.drawable.moveTo(x, y);
     }
     this.drawable.lineTo(map[0][0], map[0][1]);
     this.drawable.lineWidth = 2;
     this.drawable.stroke();
   }

  //atm this is unused.
  function init(tag) {
    this.drawable = tag.getContext("2d");
  }

  /*
   * Adds a marker at position (x,y) and saves x and y
   * internally a.k.a in this.x and this.y
   */
   function addMarkerXY(x, y) {
     console.log("x = " + x + " y = " + y + " color = " + this.color);
     this.x = x;
     this.y = y;

     this.drawable.strokeStyle = this.color;

     this.drawable.fillStyle = this.color;
     this.drawable.font = "12px Arial";
     this.drawable.fillText(this.name,x-20,y-10);

     this.drawable.beginPath();
     this.drawable.arc(x, y, 4, 0, 2*Math.PI);
     this.drawable.fill();
     this.drawable.stroke();
     //this.drawable.strokeRect(x,y,2,2);
   }

  /*
   * Adds a marker at position (this.x, this.y)
   */
  function addMarkerInner( ) {
    this.addMarkerXY(this.x, this.y);
  }

  /*
   * Adds a lot of markers from a list of coordinates
   * this is different from drawMap because it doesn't draw
   * any lines.
   */
   function addMarkerList(coordinateList, NameList) {
     for( i = 0; i < coordinateList.length; i++) {
       this.name = NameList[i];
       this.addMarkerXY(coordinateList[i][0], coordinateList[i][1]);
     }
   }

  /*
   * This functions received a single list of 2 entries
   * and makes a marker off of the 0th and 1st where [0] is x
   * and [1] is y
   */
  function addMarkerCoor(coordinates) {
    this.addMarkerXY(coordinates[0], coordinates[1]);
  }

  /*
   * removes a marker at position x, y
   */
  function clearMarkerXY(x, y) {
    //causes no error if x or y is 0
    this.drawable.clearRect(0, 0, 640, 640);
  }

  /*
   * remove the marker at position (this.x, this.y)
   */
  function clearMarker() {
    this.clearMarkerXY(this.x, this.y);
  }


  /*
   * sets the color to draw with
   */
  function setColor(color) {
    this.color = color;
  }

  //Holds a dictionary of: (peripheral person name, the peripheral's own Custom Canvas object)
  var peripherals = new Map();

  /*
   * Checks if we have a peripheral Canvas object associated with a peripheral name
   * passed in. Send true/false accordingly
   */
  function isPeriNew(periName) {
    //Checks in the map with the key
    if (peripherals.get(periName) === undefined){
      return true;
    }
    return false;
  }

  /*
   * Makes a new Canvas object, draw a mark at (x, y)
   * in the Canvas and then add this new object to the map
   * and associate it with the peripheral name
   */
   function addPeri(periName, displayName, periCanvasId, x, y) {
     var periCanvas = new Canvas(document.getElementById(periCanvasId));
     periCanvas.setName(displayName);
     periCanvas.addMarkerXY(x, y);
     peripherals.set(periName, periCanvas);
   }

  /*
   * This simply gets a Canvas object from the dictionary
   * with the peripheral person name as the key then
   * remove the existing marker and create a new one
   * at (x, y)
   */
  function updatePeri(periName, x, y) {
    var periCanvas = peripherals.get(periName);
    periCanvas.clearMarker();
    periCanvas.addMarkerXY(x, y);
  }
});
</script>
<script>
  var slideout = new Slideout({
    'panel': document.getElementById('panel'),
    'menu': document.getElementById('menu'),
    'padding': 320,
    'tolerance': 70
  });
  //Toggle Menu button
  document.querySelector('.arrow').addEventListener('click', function() {
    slideout.toggle();
    if ($('.arrow').hasClass('right')) {
      $('.arrow').removeClass('right');
      $('.arrow').addClass('left');
    } else {
      $('.arrow').removeClass('left');
      $('.arrow').addClass('right');
    }
  });
</script>

{% endblock js %}
