<!-- Navbar -->
<header>
  <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
    <div class="container">
      <div class="navbar-header">
        <a href="" class="navbar-brand">BlueHat</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <a class="btn navbar-btn navbar-right" id="loginSignUp_link">Login / Sign-Up</a>
        <ul class="nav navbar-nav">
          <li><a href="#charter">Charter</a>
          <li><a href="#groupmanagement">Group Management</a>
          <li><a href="#development">Development</a>
          <li><a href="#schedule">Schedule</a>
          <li><a href="#gallery">Gallery</a>
          <li><a href="#links">Links</a>
      </ul>
      </div>
    </div>
  </nav>
</header>
