html, body {
  display: block;
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  display: block;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

#menu {
  background-color: #015A81;
}

#menu > header {
  display: flex;
  flex-direction: column;
  align-content: center;
  object-fit: scale-down;
}

.headerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.3);
}

#logo-img {
  max-height: 50px;
  width: auto;
  margin-top: 3px;
}

.menuTitle {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  text-decoration: underline;
  color: white;
  font-weight: 200;
  font-size: 30px;
  letter-spacing: 1px;
  padding: 0 20px;
}

.menuList {
  list-style: none;
  margin: 0 !important;
  padding: 0 20px !important;
}

.menuList > li {
  font-family: 'Work Sans', sans-serif;
  color: white !important;
  font-weight: 200;
  font-size: 26px;
  letter-spacing: 1px;
  margin: 20px 0 10px 0 !important;
}

.menuItem {
  color: white !important;
  cursor: pointer
}

.menuItem:hover, .menuItem.active {
  color: #7EAFC2 !important;
  text-decoration: none;
}

.panel {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.panel > header {
  display: block;
  order: 1;
  flex: 1;
  margin-top: 20px;
}

.panel_content {
  display: flex;
  flex-direction:  column;
  order: 2;
  flex: 25;
  width: 100%;
  align-items: center;
}

.panel_content > h2 {
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 60px;
  color: #015A81;
}

.tableTitle {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 45px;
  color: #015A81;
}

.line {
  background: #015A81;
  width: 100px;
  height: 6px;
  border-radius: 5px;
  margin-bottom: 15px;
  position: relative;
  transition: all 200ms ease-in-out;
}

.arrow {
  display: inline-block;
  margin: 20px;
  width: 100px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  position: relative;
  right: 0;
}

.arrow_top,
.arrow_line,
.arrow_bottom {
  transition: 200ms ease-in-out;
}

.arrow:hover .arrow_top {
  width: 50px;
  transform: rotate(45deg);
  margin-left: 58px;
  top: 5px;
}

.arrow:hover .arrow_bottom {
  width: 50px;
  transform: rotate(-45deg);
  margin-left: 58px;
  margin-top: -5px;
}

.arrow:active {
  right: -20px;
}

.left {
  right: 0;
}

.arrow.left:active {
  right: 20px;
}

.arrow.left:hover .arrow_top {
  width: 50px;
  transform: rotate(-45deg);
  margin-left: -10px;
  top: 5px;
}

.arrow.left:hover .arrow_bottom {
  width: 50px;
  transform: rotate(45deg);
  margin-left: -10px;
}

canvas {
  background-color: transparent;
  border: 2px solid #000000 ;
  border: double;
  position: absolute;
  left: 50%;
  margin-top: 5%;
}

.mainMap {
  z-index: 0;
}

.centeralsMap {
  z-index: 1;
}

.canvas-container: {
  width: 50%;
  min-height: 100% !important;
  display: flex !important;
  align-items: center !important;
  box-sizing: content-box !important;
}

#canvasHolder {
  margin: auto;
  position: relative;
  align-self: center;
}


.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 320px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
